html {
	--primary-font: "Inter";
	--secondary-font: "Inter";

	--black: #111111;
	--white: #efefef;

	--ink: hsl(45, 0%, 20%);
	--neutral-grey: hsl(230, 5%, 50%);

	--hue-primary: 330;
	--hue-accent: 150;

	--paper: hsl(45, 100%, 98%);
	--paper-accent: hsl(45, 100%, 90%);

	--color: hsl(var(--hue-primary), 75%, 65%);
	--color-light: hsl(var(--hue-primary), 75%, 80%);
	--color-dark: hsl(var(--hue-primary), 75%, 35%);

	--accent: hsl(var(--hue-accent), 95%, 40%);
	/* ADD GREEN ACCENT LIGHT & DARK */

/* REVIEW THE REST OF THESE IN LIGHT MODE */
	--highlight: hsl(320, 65%, 75%);

	--warning: hsl(355, 55%, 55%);
	--warning-dark: hsl(355, 55%, 45%);

	--focus: hsl(320, 100%, 50%);

	--shadow: hsla(0, 0%, 80%, 0.8);
	--card-shadow: 2px 2px 2px 1px hsla(0, 40%, 15%, 0.5);

	--border: 3px solid var(--ink);
	--corners: 2px;
}

@media (prefers-color-scheme: dark) {
	html {
		--highlight: hsl(320, 30%, 40%);

		--paper: hsl(45, 20%, 10%);
		--paper-accent: hsl(45, 20%, 40%);

		--ink: hsl(45, 100%, 98%);

		--shadow: hsla(0, 0%, 40%, 0.8);
	}
}
